.App {
    text-align: center;
    background-color: #282c34;
    height: 100%;
    color: white;
}

.App-logo {
    height: 90vmin;
    pointer-events: none;
}

.App-link {
    color: #61dafb;
}

.left {
    border: 1px white solid;
}

.right {
    border: 1px white solid;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.bordered {
    border: 1px red solid;
}

.playstore {
    width: 150px;
}

.rightColumn {
    text-align: left;
    padding-top: 300px;
}

.phoneMiddle {
    height: 3000px;
    border: 1px red solid;
}

.phoneMiddle img {
    position: fixed;

    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */

    left: 0;
    right: 0;
}
